.App {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  /* background-color: black; */
}

.form-container {
  margin-top: 20px;
}

.form-label {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;

}

.form-input {
  padding: 8px;
  font-size: 16px;
}

.form-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: green;
  color: white;
}